<!DOCTYPE html>
<html>
<head>
    <title>Banking App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 align="center">Welcome to  MAGADHA BANK  </h1>
        <a href="http://127.0.0.1:5500/templates/create_account.html">Open New Bank Account</a><br>
        <a href="http://127.0.0.1:5500/templates/access_account.html">Access Existing Bank Account</a>
    </div>
</body>
</html>
